.header {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  max-width: 1440px;
  border-bottom: 1px solid rgba(241, 241, 241, 0.31);
}

.search {
  display: flex;
  column-gap: 0.5rem;
}

.input {
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  outline-color: #0f2731;
}

.button {
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  background-color: #1ce783;
  border: none;
  border-radius: 0.3rem;
  transition: 0.2s all ease;
}

.button &:hover {
  background-color: #38f898;
}
