.details {
  width: 100%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #193f4f;
}

.game {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.image {
  width: 100%;
  border-radius: 1rem;
}

.description {
  text-align: justify;
}
